
<!--listing_display.html-->
<div>
    <h2>{{ listing.title }}</h2>
    <div class="image-container">
        <a href="{% url 'listing' listing.id %}" class="custom-link">
            <img class='img-listing' src='{{ listing.image_url }}' alt= '{{ listing.title }} Image'>
        </a>   
    </div>
    <p>Description: {{ listing.description }}</p>
    <p>Current Price: ${{ listing.current_price }}</p>
    <p>Total bids: {{listing.total_bids}}
    <p>Status: {{ listing.get_status_display }}</p> <!-- Display the human-readable label of the status -->
    <p><b>Posted on</b> {{ listing.pub_date}} <b>by</b> {{ listing.user.username }}</p>
    {% if user.is_authenticated %}
    <!--    {% if listing.status == 'Open' %}
        <p>This listing is currently open for bidding.</p>
        
    {% elif listing.status == 'Closed' %}
        <p>This listing is closed for bidding.</p>
    {% elif listing.status == 'Pending' %}
        <p>This listing is pending approval.</p>
    {% endif %}-->

    
        {% if listing in user.watchlist.all %}
        <a href="{% url 'watchlist' listing.id %}" class="w-button"><button type="button">Remove from Watchlist</button></a>
        {% else %}
        <a href="{% url 'watchlist' listing.id %}" class="w-button"><button type="button">Add to Watchlist</button></a>
        {% endif %} 
    {% endif %}      
        
    
</div>