<!--my_listings.html-->
{% extends "auctions/layout.html" %}
{% block title %}My Listings{% endblock %}
{% block body %}
    <h2>My Listings</h2><hr/>

    {% for listing in my_listings %} 
        <a href="{% url 'listing' listing.id %}" class="custom-link">
        <div>{% include 'auctions/listing_display.html' with listing=listing %}</div>
        </a>
        <div><a href = "{% url 'close_listing' listing_id=listing.id%}">Close Listing</a></div>
            <div><a href="{% url 'modify_listing' listing_id=listing.id %}">Modify Listing (title, starting bid, image...)</a></div>
            <div>
            <a href="{% url 'delete_listing' listing_id=listing.id %}">Delete Listing</a>
            </div> 
    {% endfor %}
{% endblock %}